@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* CSS HEX */
--light-green: #87d68dff;
--jonquil: #ffcf00ff;
--celadon: rgb(198, 243, 205);
--red-munsell: #fa003fff;
--dark-slate-gray: #283f3bff;
--background1:  rgb(232, 245, 240);

--font-family: "Libre Franklin";
}

* {
    font-family: var(--font-family);
    color: var(--dark-slate-gray);
    background-color: var(--celadon);
    max-width: 900px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 11% 89%;
}
.logo {
    grid-column:1/2;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-column: 2/3;
	text-align: center;
	font-size: 1.5rem;
	width: 100%;
    color: rgb(28, 42, 87);
    background-color:var(--background1);
}

h2 {
	font-size: 1.2rem;
	color: rgb(28, 42, 87);
	text-align: left;
	margin: 1rem;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #c3eff7;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
	color: rgb(28, 42, 87);
}

#menu.open::before {
	content: "❎";
}

.navigation {
    grid-column: 1/3;
    width: 100%;
	display: flex;
	flex-direction: column;
	list-style: none;
	color:  rgb(28, 42, 87);
}

.navigation a {
	display: none;
    width: 100%;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color:  rgb(28, 42, 87);
    background-color: var(--background1);
}

.navigation a:hover {
	background-color:  rgb(28, 42, 87);
	color: #beece9;
	font-weight: 700;
}

.open a {
	display: block;
}

