@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
        margin: 0;
        padding: 0;
    }
    

body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    font-family: "Poppins";
    background-color:rgb(184, 237, 237)
}

header {
    background: rgb(146, 201, 216); 
    padding: 2rem;
    grid-column: 1 / 4;
    padding-bottom:0;
    height: max-content;
    text-align: center;
    
}

nav {
	margin: 0 auto 2rem;
    margin: 0;
	width: auto;
    height: max-content;
    display: flex;
    align-items:center;
    background: #ACC8E5;
}

.navigation a {
	flex: 1 1 100%;
    text-align: center;
    color: #112A46;
}
a:hover {
    color: rgb(180, 208, 227);
    text-decoration: underline;
    background-color: #112A46;
}

main {
    grid-column: 1/4;
    display: flex;
    text-align: center;
}

#me{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

img {

    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
  }

#left{
    display: block;
}

figure {
    height: auto;
    float: left;
    margin: 0 0 1rem 1rem;
  }

#resources {
    width: 40%;
    text-align: left;
    padding-left: 10%;
}

footer {
    background: rgb(146, 201, 216);
    grid-column: 1/4;
    padding: 2%;
    text-align: center;
}