@media (min-width: 900px) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; 
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    main {
        max-width: 1600px;
        display: grid;
        grid-template-rows:  auto;
        justify-items: center;
		margin: auto;
    }

	section {
		display:grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-gap: 10px;
		justify-items: center;
	}
}