@media screen and (min-width: 1000px) {
    header, footer {
        max-width: 1500px;
        margin: 0 auto;
    }

    main{
        position: relative;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100%;
        max-width: 1500px;
        justify-items: center;
    }

    section {
        position:absolute;
    }

    h2 {
        background-color: aqua;
        margin-left: -8px;
        height: 3rem;
        padding-left: 8px;
        text-align: left;
    }

    #left {
        top:10%;
        left:12%;
    }

    #right {
        right:12%;
        bottom: 50px;
    }
    #icon {
        position: absolute;
        top: 24px;
        right: 10px;
    }
    
}